<!DOCTYPE html>

<html ng-app="Rubic">

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="./jsModules/rotate.js"></script>
    <script src="./jsModules/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.2.1/math.min.js"></script>
    <script type="text/javascript" src="./angular/app.js"></script>
    <script type="text/javascript" src="./angular/controllers/controller.js"></script>
    <script type="text/javascript" src="./angular/services/socket.js"></script>
    <script type="text/javascript" src="./angular/services/cubeLogic.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">

</head>

<body ng-controller="MainCtrl">

    <h1 style="color: white"> {{ error }} </h1>

    <div class="logon">
        <form ng-show="signin">
            <input ng-model="data.signin.u_email" placeholder="email" />
            <input ng-model="data.signin.pass" placeholder="password" />
            <button ng-click="login()">Logon</button>
            <button ng-click="signin = false; cuser = true;">Signup</button>
        </form>
        <form ng-show="cuser">
            <input ng-model="data.cuser.u_email" placeholder="email" />
            <input ng-model="data.cuser.pass1" placeholder="password" />
            <input ng-model="data.cuser.pass2" placeholder="confirm password" />
            <button ng-click="createUser()">Create Your Profile</button>
            <button ng-click="signin = true; cuser = false;">Back to Login</button>
        </form>
        <form ng-show="instantiation">
            <button ng-click="signin = true; cuser = false; instantiation = false; signout()">Logout</button>
        </form>
    </div>

    <h1 style="color: #fff"> TIME : {{ time }}  MOVES : {{ moves }} </h1>
    <h2 style="color: #fff"> Instructions: Move with Arrow Keys, Click to Select Square for Operations </h2>
    <button ng-show="move" ng-click="up()">Column Up</button>
    <button ng-show="move" ng-click="down()">Column Down</button>
    <button ng-show="move" ng-click="rght()">Row Right</button>
    <button ng-show="move" ng-click="lft()">Row Left</button>
    <div id="cube">
        <div id="container">
            <div id="face" class="face one" ng-init="parentIndex = $index">
                <div ng-repeat="instance in cubeDOM[0]">
                    <div class="square" ng-click = "setCurrent('1',$parent.$index,$index)" ng-repeat="square in instance track by $index" ng-style="{'background-color': hexcodeMap[square]}">1</div>
                </div>
            </div>
            <div id="face" class="face four">
                <div ng-repeat="instance in cubeDOM[1]">
                    <div class="square" ng-click = "setCurrent('4',$parent.$index,$index)" ng-repeat="square in instance track by $index" ng-style="{'background-color': hexcodeMap[square]}">4</div>
                </div>
            </div>
            <div id="face" class="face five">
                <div ng-repeat="instance in cubeDOM[2]">
                    <div class="square" ng-click = "setCurrent('5',$parent.$index,$index)" ng-repeat="square in instance track by $index" ng-style="{'background-color': hexcodeMap[square]}">5</div>
                </div>
            </div>
            <div id="face" class="face two">
                <div ng-repeat="instance in cubeDOM[3]">
                    <div class="square" ng-click = "setCurrent('2',$parent.$index,$index)" ng-repeat="square in instance track by $index" ng-style="{'background-color': hexcodeMap[square]}">2</div>
                </div>
            </div>
            <div id="face" class="face three">
                <div ng-repeat="instance in cubeDOM[4]">
                    <div class="square" ng-click = "setCurrent('3',$parent.$index,$index)" ng-repeat="square in instance track by $index" ng-style="{'background-color': hexcodeMap[square]}">3</div>
                </div>
            </div>
            <div id="face" class="face six">
                <div ng-repeat="instance in cubeDOM[5]">
                    <div class="square" ng-click = "setCurrent('6',$parent.$index,$index)" ng-repeat="square in instance track by $index" ng-style="{'background-color': hexcodeMap[square]}">6</div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
